@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2efe7;
  --foreground: #171717;
  --color-blue: #2973b2;
  --radius: 0.8rem;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Base size */
@layer base {
  html {
    font-size: calc(10 / 1280 * 100vw);
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 768px) {
    html {
      font-size: calc(10 / 375 * 100vw);
    }
  }
}

button,
a {
  color: inherit;
  transition: opacity 0.3s ease;
}

button:hover,
a:hover {
  opacity: 0.78;
}
